doctype 5
html(lang="en")
head
  link(rel='stylesheet', href='/static/css/site.css', type='text/css')
  title 'Node.JS User registration'
body
  h1 Node.JS User Registration
  - if (user)
    h2 Account activation : only one step left,
    div
      p  #{user.firstname}, you have successfully confirmed your e-mail address !
      p Now we need you to choose a password
      form(name='form-activate',action='/user/activate',method='post')  
        div
          input(id='pa',name='password',type='password')
        div
          input(id='pac',name='passwordConfirmation',type='password')
        div
          input(type='hidden',name='activationKey',value='#{activationKey}')
          button(type='submit') Activate
  - else if (error)
    h2 Oops, something went wrong...
    div
      p It seems that your activation key has expired or is invalid
      p Thanks to type your e-mail address to receive a new activation link
      form(name='form-resend-activation',action='/user/resend-activation-link',method='post')
        div
          input(id='em', name='email',type='text')
        div
          button(type='submit') Send me a new activation link
