doctype 5
html(lang="en")
head
  link(rel='stylesheet', href='/static/css/site.css', type='text/css')
  title 'Likbe'
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/static/js/client.js')
  script(type='text/javascript', src='/static/js/jquery.js')
body
  h1 Likbe
  h2 Add a workspace
  form(name='form-add-workspace',action='addWorkspace',method='post')
    div
      label Name
      input(id='n',name='workspace-name',type='text')
    div
      label Description
      textarea(id='ln',name='workspace-description',rows='5',cols='30')
    div
      button(type='submit') Create workspace

 