extends layout

block content
  h2 Ouchh, we are quite broken
  div(id='result')
    h2 An error occured !
    h3 Our technical staff were noticed of your problem : #{error.message}
    h4
      a(href='/')
        p Go back to home