extends layout

block content
  h2 Account activated successfully
  div(id='result')
    h3 Great, you can now sign-in #{user.firstname} !
    h4
      a(href='/', id='home-action')
        p Back to home