extends layout

block content
  div(class='hero-unit')
    h1 Lorem ipsum
      h3 Dolor sit amet consectetur adipiscing elit
    span
      a(class='btn btn-primary btn-large') Join us, it's fast and free
  div(class='row')
    span
      a(href='users') See users list
