extends layoutAuthenticated

block content
  div(class='hero-unit')
    h1 Lorem ipsum
      h3 Dolor sit amet consectetur adipiscing elit
    span
      a(class='btn btn-primary btn-large', href='/user/register') Join us, it's fast and free