extends layoutAuthenticated

block content
  h2 Successfully signed-in
  div(id='result')
  h3 Greetings #{user.firstname} !
   each role in user.roles
      li 
        div
          p role : #{role.name} 