doctype 5
html(lang="en")
head
  link(rel='stylesheet', href='/static/css/site.css', type='text/css')
  script(type='text/javascript', src='../static/js/jquery.js')
  script(type='text/javascript', src='../static/js/angular.js')
  script(type='text/javascript', src='../static/js/userprofile.js')
  script(type='text/javascript', src='../static/js/logout.js')
  title 'Node.JS User Registration'
body(ng-app='GravatarApp')
  h1 Node.JS User Registration
  h2 Successfully signed-in
  div(id='result')
    h2 Greetings #{user.firstname} !
    h3 Picture :  
    user-profile(class='userphoto', email='mmorel@likbe.com')
    h4
      a(href='#', id='logout-action')
        p sign out