extends layoutAuthenticated

block head
  script(type='text/javascript', src='/static/js/angular.js')
  script(type='text/javascript', src='/static/js/logout.js')
  script(type='text/javascript', src='/static/js/userprofile.js')
block content
  h2 Successfully signed-in
  div(id='result')
  h3 Greetings #{user.firstname} !