doctype 5
html(lang="en")
head
  link(rel='stylesheet', href='static/css/site.css', type='text/css')
  title 'Node.JS User Registration'
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/static/js/client.js')
  script(type='text/javascript', src='/static/js/jquery.js')
body
  h1 Node.JS User Registration
    div
      p 
        a(href='user/login') Sign-in
      p 
        a(href='user/register') Register
      p 
        a(href='users') Users list
