!!!
html(lang="en")
head
  link(rel='stylesheet', href='/static/css/bootstrap.css', type='text/css')
  link(rel='stylesheet', href='/static/css/site.css', type='text/css')
  title LikBe
  script(type='text/javascript', src='/static/js/jquery.js')
  script(type='text/javascript', src='/static/js/angular.js')
  script(type='text/javascript', src='/static/js/userprofile.js')
  script(type='text/javascript', src='/static/js/logout.js')
  block head
body(ng-app='LikbeApp')
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class='container')
        a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')
        a(class='brand', href='/') LikBe
        div(class='nav-collapse collapse')
          ul(class='nav')
            li(class='active') 
              a(href='/') 
                div
                  p Home
            li(class='active') 
              a(href='/user/dashboard') 
                div
                  p Dashboard
          ul(class='nav pull-right')
            li(class='header-top')
                div(class='header-top')
                  p(class='header-top') #{user.firstname} #{user.lastname}
                    form(id='form-signout',action='/user/logout',method='post')
                      div(class='header-sub')
                       a(href='#', id='logout-action')
                         span Sign Out
            li(class='active')   
              div(class='photo-id')
                user-profile(class='userphoto', email='#{user.email}')
    div(class='container')
      block content