doctype 5
html(lang="en")
head
  link(rel='stylesheet', href='/static/css/site.css', type='text/css')
  title 'Node.JS User Registration'
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/static/js/client.js')
  script(type='text/javascript', src='/static/js/jquery.js')
body
  h1 Node.JS User Registration
  -if (user && user.status == 'NotYetRegistered')
    h2 You are not yet not-yet-registered
    h3 You can register now using the form below:
  -else if (user && user.status == 'NoAccountForGivenEmail')
    h2 User registration 
    h3 You do not have account for the given email address, please register now using the form below:
  - else
    - if (success)
      p(class='success-message') #{success} 
     - if (error)
      p(class='error-message') #{error} 
    h2 User Registration
  form(name='form-register',action='register',method='post')
    div
      label Firstname
      input(id='fn',name='firstname',type='text')
    div
      label Lastname
      input(id='ln',name='lastname',type='text')
    div
      label Email
      input(id='em',name='email',type='text')
    div
      label Email confirmation
      input(id='emc',name='emailConfirmation',type='text')
    div
      button(type='submit') Register

 