extends layout
block head
  script(type='text/javascript', src='/static/js/angular.js')
  script(type='text/javascript', src='/static/js/signinController.js')
block content
  div(class='form-unit')
    h2 Sign-In
    form(name='form-signin',action='login',method='post', ng-controller='SignInCtrl')
      div
        label Login
        input(id='fn',name='username',type='text')
      div
        label Password
        input(id='ln',name='password',type='password')
      - if (message != '')
        div(class='alert alert-error') 
          span #{message}
      div
        button(type='submit') Sign In