extends layout

block content
  h2 Sign-In
  form(name='form-signin',action='login',method='post')
    div
      label Login
      input(id='fn',name='username',type='text')
    div
      label Password
      input(id='ln',name='password',type='password')
    - if (message != '')
      div(class='alert alert-error') 
        span #{message}
    div
      button(type='submit') Sign In

 