@font-face {
  font-family: 'QlassikMediumRegular';
  src: url("../fonts/qlassik/Qlassik_TB-webfont.eot");
  src: url("../fonts/qlassik/Qlassik_TB-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/qlassik/Qlassik_TB-webfont.woff") format('woff'), url("../fonts/qlassik/Qlassik_TB-webfont.ttf") format('truetype'), url("../fonts/qlassik/Qlassik_TB-webfont.svg#QlassikMediumRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QlassikBoldRegular';
  src: url("../fonts/qlassik/QlassikBold_TB-webfont.eot");
  src: url("../fonts/qlassik/QlassikBold_TB-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/qlassik/QlassikBold_TB-webfont.woff") format('woff'), url("../fonts/qlassik/QlassikBold_TB-webfont.ttf") format('truetype'), url("../fonts/qlassik/QlassikBold_TB-webfont.svg#QlassikBoldRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font: 58px/48px 'QlassikMediumRegular', Arial, sans-serif;
  letter-spacing: 0;
}
h2 {
  font: 38px/48px 'QlassikMediumRegular', Arial, sans-serif;
  letter-spacing: 0;
}
h3 {
  font: 28px/38px 'QlassikMediumRegular', Arial, sans-serif;
  letter-spacing: 0;
}
p {
  font: 18px/28px 'QlassikMediumRegular', Arial, sans-serif;
}
div {
  font: 18px/27px 'QlassikMediumRegular', Arial, sans-serif;
}
textarea {
  width: 60%;
}
textarea.noResize {
  resize: none;
}
.gridRow {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border: 1px solid #cecefe;
  margin-top: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gridRow:hover {
  background-color: #cecece;
  cursor: pointer;
hand
}
.vip,
.vip-off:hover {
  background-color: #ffa500;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 0px 20px 0px 20px;
}
.vip-off {
  background-color: #ad4133;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 0px 20px 0px 20px;
  color: #f5f5f5;
}
.photo-id {
  border: 1px solid #a9a9a9;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  margin-left: 8px;
}
.header-top {
  height: 18px;
}
.header-sub {
  height: 18px;
  vertical-align: top;
}
.error-message {
  color: #f00;
}
.hero-unit {
  padding: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.hero-unit h1 {
  color: #444;
}
.form-unit {
  padding: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.form-unit h2 {
  color: #444;
}
